@import '../../styles/utils/extends';
@import '../../styles/utils/vars';

.controls {
  &__title {
    @extend %small-text;
    margin-bottom: 8px;
    color: $secondary-color;
    display: flex;
    justify-content: space-between;
  }

  &__code {
    @extend %small-text;
    color: $icons-color;
  }

  &__item {
    padding-bottom: 24px;
    border-bottom: 1px solid $elements-color;

    &:not(:first-child) {
      padding-top: 24px;
    }
  }

  &__params {
    display: flex;

    &_item {
      cursor: pointer;
      list-style: none;

      &_wrap {
        background-color: black;
        width: 32px;
        height: 32px;
        // border: 1px solid black;
        // border-radius: 50%;
        // padding: 3px;
        // transition: border-color 0.2s ease;

        &_active {
          border-color: $primary-color;
        }
      }

      &_inner {
        height: 30px;
        width: 30px;
        border: 2px solid #E2E6E9;
        border-radius: 50%;

        &:hover {
          border: 1px solid #000;
        }
      }

      &:not(:last-child) {
        margin-right: 8px;
      }
    }

    &_capacity {
      @extend %button-text;
      display: flex;
      padding: 4px 8px;
      color: $primary-color;

      border: 1px solid $icons-color;
      border-radius: 4px;
      text-decoration: none;

      &_active {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white-color;
      }
    }
  }
}
