@import './fonts/fonts.scss';

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 272px;
  padding: 32px;
  border: 1px solid #E2E6E9;
  border-radius: 8px;

  background-color: #ffffff;
  border-color: #E2E6E9;

  font-family: 'Mont', Helvetica, sans-serif;

  &__img {
    display: block;
    height: 175px;
    width: 208px;
    margin-bottom: 24px;
    object-fit: contain;
  }

  &__name {
    margin-bottom: 8px;

    color: #0F0F11;

    line-height: 21px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__price {
    display: flex;
    margin-bottom: 8px;

    color: #0F0F11;

    line-height: 18px;
    font-size: 22px;
    font-weight: 800;

    &--old {
      margin-left: 8px;

      color: #89939A;

      text-decoration: line-through;
      font-weight: 500;
    }
  }

  &__separator {
    width: 100%;
    border-bottom: 1px #E2E6E9 solid;
    margin-bottom: 8px;
  }

  &__params {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    margin-bottom: 8px;

    &--container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;

      line-height: 100%;
      font-size: 12px;
    }

    &--text {
      font-weight: 600;
      color: #89939A;
    }

    &--val {
      font-weight: 700;
      color: #0F0F11;
    }
  }

  &__buy {
    display: flex;
    height: 40px;

    font-size: 14px;
    font-weight: 700;

    &--add {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      box-sizing: border-box;
      border-radius: 8px;
      border: none;

      color: #FFFFFF;
      background-color: #216CFF;
      width: 100%;

      font-weight: 700;
      line-height: 21px;
      text-decoration: none;

      transition: all 0.5s;

      &:hover {
        cursor: pointer;
        box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
      }

      &-active {
        border: 1px solid #e2e6e9;
        box-shadow: none;

        color: #216CFF;
        background: #ffffff;
      }
    }

    &--heart {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      padding: 20px;
      box-sizing: border-box;
      border-radius: 48px;
      border: 1px solid #B4BDC4;
      margin-left: 8px;

      background-color: #ffffff;
      text-decoration: none;

      transition: all 0.5s;

      &:hover {
        box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
        cursor: pointer;
      }
    }
  }
}
