.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #E2E6E9;
  border-radius: 8px;
  border-color: #E2E6E9;

  width: 272px;
  height: 500px;

  padding: 32px;

  &__img {
    display: block;
    object-fit: scale-down;
    height: 175px;
    width: 208px;
    margin-bottom: 24px;
  }

  &__name {
    font-size: 14px;
    font-weight: 600;
    color: #0F0F11;
    line-height: 21px;
    margin-bottom: 8px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__price {
    display: flex;
    color: #0F0F11;
    font-size: 22px;
    font-weight: 800;

    &--old {
      color: #89939A;
      text-decoration: line-through;
      margin-left: 8px;
    }

    line-height: 18px;
    margin-bottom: 8px;
  }

  &__separator {
    width: 100%;
    border-bottom: 1px #E2E6E9 solid;
    margin-bottom: 8px;
  }

  &__params {
    display: flex;
    flex-direction: column;

    &--container {
      display: flex;
      justify-content: space-between;
      padding: 0;
      line-height: 100%;
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    &--text {
      color: #89939A;
    }

    &--val {
      color: #0F0F11;
    }

    padding: 8px 0;
    margin-bottom: 8px;
  }

  &__buy {
    height: 40px;
    display: flex;
    font-size: 14px;
    font-weight: 700;

    &--add {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border-radius: 8px;

      background-color: #216CFF;
      width: 100%;

      line-height: 21px;
      text-decoration: none;
      color: #FFFFFF;

      transition: all 0.5s;

      &:hover {
        text-shadow: 1px 1px 2px #000000;
      }
    }

    &--heart {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      box-sizing: border-box;
      border-radius: 48px;
      border: 1px solid #B4BDC4;

      text-decoration: none;
      background-color: #ffffff;
      margin-left: 8px;
    }
  }

  &__icon {
    transition: all 0.5s;

      &:hover {
        border-radius: 5px;
        background-color: #EB5757;
      }
  }
}
