.cart {
  flex-grow: 1;
  padding: 25px 16px 56px;
  max-width: 1200px;

  @media (min-width: 640px) {
    padding: 41px 24px 64px;
  }

  @media (min-width: 1200px) {
    padding: 41px 32px 80px;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  @media (min-width:640px) {
    padding-bottom: 64px;
  }

  @media (min-width:1200px) {
    padding-bottom: 80px;
  }

  &__content {
    @media (min-width: 1200px) {
      display: flex;
      gap: 16px;
    }
  }

  &__items {
    flex-grow: 2;
    margin-bottom: 32px;
  }

  &__title {
    font-weight: 800;
    font-size: 32px;
    color: #0F0F11;
    margin-bottom: 32px;
  }

  &__item {
    margin-bottom: 16px;
    padding: 16px;

    border: 1px solid #E2E6E9;
    border-radius: 16px;

    @media (min-width: 640px) {
      display: flex;
      justify-content: space-between;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 23px;

      @media (min-width: 640px) {
        margin-bottom: 0;
      }

      &__image {
        height: 66px;
        width: 66px;
        object-fit: contain;
      }

      &__button {
        margin-right: 23px;
        height: 16px;
        width: 16px;
        border: none;
        background-image: url(../img/cross.svg);
        background-position: center;
        background-color: #FFFFFF;
        cursor: pointer;
        border-radius: 50%;
      }

      &__text {
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        color: #0F0F11;
      }
    }

    &__price {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (min-width: 640px) {
        width: 220px;
      }

      &__text {
        font-weight: 800;
        font-size: 22px;
        color: #0F0F11;
      }

      &__quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 96px;

        @media (min-width: 640px) {
          margin-right: 53px;
        }

        &__button {
          height: 32px;
          width: 32px;
          border-radius: 48px;
          background-color: white;
          cursor: pointer;
          border: 1px solid #B4BDC4;

          &:hover {
            border-color: #0F0F11;
          }

          &-isDisabled {
            border-color: #E2E6E9;
            color: #B4BDC4;
            cursor: default;

            &:hover {
              border-color: #E2E6E9;
            }
          }
        }
      }
    }
  }

  &__back {
    display: flex;
    gap: 10px;

    margin-bottom: 24px;

    &__button {
      cursor: pointer;
      background-image: url('../img/left-arrow-active.svg');
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      background-color: #FFFFFF;
    }

    &__text {
      text-decoration: none;
      cursor: pointer;
      color: #89939A;
      font-weight: 700;
      font-size: 12px;
    }
  }

  &__total {
    flex-grow: 1;
    padding: 24px;
    border: 1px solid #E2E6E9;
    border-radius: 16px;

    &__price {
      height: 41px;
      text-align: center;
      color: #0F0F11;
      font-weight: 800;
      font-size: 32px;
    }

    &__text {
      margin-bottom: 16px;
      height: 21px;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      color: #89939A;
    }

    &__line {
      margin-bottom: 16px;

      content: '';

      border: 1px solid #E2E6E9;
    }

    &__button {
      height: 48px;
      width: 100%;

      color: #FFFFFF;

      border: none;
      border-radius: 8px;

      font-weight: 700;
      font-size: 14px;

      background-color: #216CFF;

      &:hover {
        cursor: pointer;
        box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
      }
    }
  }

  &__empty {
    margin: 5% 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__message {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      &__text {
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 41px;
        letter-spacing: -0.01em;
        color: #0F0F11;

        @media (min-width: 640px) {
          font-weight: 800;
          font-size: 48px;
          line-height: 56px;
        }
      }

      &__smile {
        height: 20px;

        @media (min-width:640px) {
          height: 50px;
        }
      }
    }

    &__img {
      margin: 5% 0;
      background-image: url('../img/Cart/empty.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 25vh;
      width: 25vh;
    }

    &__link {
      display: flex;
      justify-content: center;
      width: 100%;
      text-decoration: none;
    }

    &__button {
      margin-bottom: 5%;

      height: 48px;
      width: 100%;

      font-weight: 700;
      font-size: 14px;

      border: none;
      border-radius: 8px;

      color: #FFFFFF;
      background-color: #216CFF;

      &:hover {
        cursor: pointer;
        box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
      }

      @media (min-width: 640px) {
        width: 50%;
      }
    }
  }
}
