@import './utils/mixins';

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;

  @include onTablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--tablet-#{$start}-#{$end} {
          @include onTablet() {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 24 {
      @for $end from $start through 24 {
        &--tablet-#{$start}-#{$end} {
          @include onDesktop() {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
