@import './utils/mixins';

.header {
  margin: 0 auto;
  padding-left: 16px;
  transition: 0.3s ease all;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 1px 0px #e2e6e9;

  &__ellips {
    position: absolute;
    transform: translate(50%, -50%);
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    width: 14px;
    height: 14px;
    font-weight: 600;
    font-size: 9px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    background-image: url('../img//header//ellipse.svg');
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
  }

  @include onTablet {
    padding-left: 24px;
  }

  @include onDesktop {
    padding-left: 32px;
  }

  &__logo {
    @include onTablet {
      padding-right: 16px;
    }

    @include onDesktop {
      padding-right: 32px;
    }
  }

  &__content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__nav {
      display: flex;
      align-items: center;
      justify-content: center;

      &__list {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
      }

      &__link {
        color: #89939a;
        text-decoration: none;
        display: flex;
        height: 48px;
        align-items: center;
        position: relative;
        font-family: 'Mont';
        font-style: normal;
        font-weight: 800;

        transition: 0.3s;

        @include onTablet {
          margin: 0 16px;
        }

        @include onDesktop {
          height: 64px;
          margin: 0 32px;
        }

        &:hover {
          color: #0f0f11;
        }
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__buttons-right {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      box-shadow: -1px 0px 0px #e2e6e9;
      border: none;
      cursor: pointer;
      text-decoration: none;
      position: relative;

      height: 48px;
      width: 48px;

      @include onDesktop {
        height: 64px;
        width: 64px;
      }
    }
  }

  &__is-active {
    color: #0f0f11;

    &::after {
      @include onTablet {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 4px;
        background: #0f0f11;
        border-radius: 8px;
        top: 45px;

        @include onDesktop() {
          content: ' ';
          position: absolute;
          width: 100%;
          height: 4px;
          background: #0f0f11;
          border-radius: 8px;
          top: 60px;
        }
      }
    }
  }
}

.menu {
  @include onTablet {
    display: none;
  }

  &-moved {
    @media (max-width: 639px) {
      display: none;
    }
  }
}
