.loader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 175px;
  margin-bottom: 24px;

  &--cart__item {
    height: 66px;
    width: 66px;
    margin-bottom: 0;
  }

  &--phones {
    height: 120px;
    width: 120px;
    margin: 0 auto;
  }

  &__content {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin: 1em auto;
    border: 0.3em solid #ddd;
    border-left-color: #000;
    animation: load8 1.2s infinite linear;

    &--loader--phones {
      width: 4em;
      height: 4em;
      border: 0.5em solid #ddd;
      border-left-color: #000;
      animation: load8 1.2s infinite linear;
    }
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
