.new-phones {
  &__container {
    margin: 0 16px 64px;

    @include onTablet {
      margin: 0 24px 64px;
    }

    @include onDesktop {
      margin: 0 0 80px;
    }
  }

  &__items {
    overflow-x: hidden;
  }

  &__title {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      font-weight: 800;
      color: #0f0f11;
      font-size: 32px;
    }
  }
}

.button {
  display: flex;
  gap: 16px;

  &-right {
    height: 32px;
    width: 32px;
    border: 1px solid #B4BDC4;
    border-radius: 48px;

    color: #0F0F11;
    background-color: #FFFFFF;
    border-color: #B4BDC4;
    cursor: pointer;

    &:hover {
      border-color: #0f0f11;
    }

    &-isDisabled {
      color: #b4bdc4;
      cursor: default;

      &:hover {
        border-color: #b4bdc4;
      }
    }
  }

  &-left {
    height: 32px;
    width: 32px;
    border: 1px solid #B4BDC4;
    border-radius: 48px;

    color: #0F0F11;
    background-color: #FFFFFF;
    border-color: #B4BDC4;
    cursor: pointer;

    &:hover {
      border-color: #0f0f11;
    }

    &-isDisabled {
      color: #b4bdc4;
      cursor: default;

      &:hover {
        border-color: #b4bdc4;
      }
    }
  }
}
