@import '../styles/utils/mixins';

.new-phones {
  &__container {
    margin: 0 16px 64px;

    @include onTablet {
      margin: 0 0 64px;
    }

    @include onDesktop {
      margin: 0 0 80px ;
    }
  }

  &__title {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      font-weight: 800;
      color: #0f0f11;
      font-size: 32px;
      line-height: 41px;
      letter-spacing: -0.01em;
    }

    &-buttons {
      display: flex;
      gap: 16px;

      &-swiper-button-next {
        transition: border-color 0.3s;
        color: #0f0f11;
        height: 32px;
        width: 32px;
        border: 1px solid #b4bdc4;
        border-radius: 48px;
        background-image: url('../img/right-arrow-active.svg');
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }

      &-swiper-button-prev {
        transition: border-color 0.3s;
        color: #0f0f11;
        height: 32px;
        width: 32px;
        border: 1px solid #b4bdc4;
        border-radius: 48px;
        background-image: url('../img/left-arrow-active.svg');
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }
    }
  }

  &__items {
    display: grid;
    gap: 16px;
    padding-left: 16px;

    @media (min-width: 640px) {
      grid-template-columns: repeat(1, 1fr);
      padding-left: 24px;
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
      padding-left: 0;
    }
  }
}

.new-phones__title-buttons-swiper-button-next:hover,
.new-phones__title-buttons-swiper-button-prev:hover {
  border-color: #0f0f11;
}

.new-phones__title-buttons-swiper-button-next.swiper-button-disabled,
.new-phones__title-buttons-swiper-button-prev.swiper-button-disabled {
  opacity: 0.5;
}

.new-phones__title-buttons-swiper-button-next.swiper-button-disabled:hover,
.new-phones__title-buttons-swiper-button-prev.swiper-button-disabled:hover {
  opacity: 0.5;
  border-color: #b4bdc4;
}

.new-phones__swiper-container .swiper-slide {
  width: 212px;
  height: 439px;

  @media (min-width: 640px) {
    width: 237px;
    height: 512px;
  }

  @media (min-width: 1200px) {
    width: 272px;
    height: 570px;
  }
}

.new-phones__swiper-container .swiper-wrapper {
  margin-bottom: 64px;
  padding-top: 5px;

  &::after {
    margin-right: 16px;
  }

  @include onTablet {
    margin-bottom: 5px;
  }
}

.last-item {
  @media (min-width: 1200px) {
    margin-right: 16px;
  }
}
