.not-found {
  &__container {
    box-sizing: border-box;

    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/404.jpg);
  }
}

.message {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;

  &__directions {
    margin: 350px 0 0 0;

    @media (min-width: 640px) {
      margin: 500px 0 0 0;
    }

    @media (min-width: 1200px) {
      margin: 550px 0 0 0;
    }

    @media (min-width: 1920px) {
      margin: 800px 0 0 0;
    }
  }
}

.directions {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 800;

  @media (min-width: 1200px) {
    font-size: 24px;
  }

  &__button {
    &-back {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      border-radius: 8px;
      border: none;

      color: #FFFFFF;
      font-size: 14px;

      background-color: #E30B5C;
      width: 100px;
    }

    &-home {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      border-radius: 8px;
      border: none;

      color: #FFFFFF;
      font-size: 14px;

      background-color: #216CFF;
      width: 100px;
    }
  }
}
