.main {
  background-color: #FAFBFC;
  max-width: 100vw;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.page {
  margin: 0 32px;

  @media (max-width: 1200px) {
    margin: 0 24px;
  }

  @media (max-width: 640px) {
    margin: 0 16px;
  }

  &__awaitPicture {
    margin: 5% auto;
    height: 40vh;
    background-image: url('../img/Zhdun.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
