.productList {
  &__title {
    margin-bottom: 8px;
    margin-top: 24px;

    @media (min-width: 1200px) {
      margin-top: 40px;
    }
  }

  &__modelCountText {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #89939A;

    @media (min-width: 640px) {
      margin-bottom: 40px;
    }
  }
}
