@import '../fonts//fonts.scss';

* {
  font-family: 'Mont', Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  transition-duration: 0.3s;
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
