$paddingForNavItem: 20px;
$heightHeaderDesk: 64px;
$heightHeaderTab: 48px;
$radius: 8px;

$secondary-color: #89939a;
$elements-color: #e2e6e9;
$accent-color: #216Cff;
$primary-color: #0f0f11;
$icons-color: #b4bdc3;
$white-color: #fff;
$black-color: #000;
$secondary-accent-color: #476df4;

$mob-side-padding: 16px;
$tab-side-padding: 24px;
$desk-side-padding: 32px;

$slider-button-width: 32px;
$slider-mob-height: 440px;
$slider-tab-height: 520px;