@import "../../styles/utils/vars";
@import "../../styles/utils/mixins";

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 25px 0px 25px 5px;
  padding: 0;

  @include onTablet {
    margin-bottom: 41px;
    margin-left: 0;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 30px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -17px;
        width: 5px;
        height: 10px;
        background-color: red;
        background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.47146 0.528636C5.21111 0.268287 4.789 0.268287 4.52865 0.528636L0.528646 4.52864C0.268297 4.78899 0.268297 5.2111 0.528646 5.47145L4.52865 9.47145C4.789 9.7318 5.21111 9.7318 5.47146 9.47145C5.7318 9.2111 5.7318 8.78899 5.47146 8.52864L1.94286 5.00004L5.47146 1.47145C5.7318 1.2111 5.7318 0.788986 5.47146 0.528636Z' fill='%23B4BDC4'/%3E%3C/svg%3E%0A")
          center/contain no-repeat;
        transform: translate(0, -50%) rotate(180deg);
      }
    }

    &:not(:first-child) {
      margin-bottom: -1px;
    }

    &:last-child {
      color: $secondary-color;
      pointer-events: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black-color;

    font-weight: 400;
    
  }

  &__home {
    width: 14px;
    height: 14px;
  }
}
